<div class="container">
  <h1> Stupid Coaching </h1>

  <div class="card">
    <p><%=@question%></p>
  </div>
  <div class="card">
    <p><%=@answer%></p>
  </div>

  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
